In [1]:
import time
import pandas as pd
from selenium import webdriver

In [2]:
driver = webdriver.Chrome('chromedriver')

In [3]:
url = 'http://ucar.co.kr/html/all_vehicles/list.asp'
driver.get(url)

In [4]:
데이터 = []

In [5]:
for page in range(1, 39):
    # 위치로 이동
    script = "javascript:setLocation({gotoPage:" + str(page) + ", PagerClick : function (value) {win.btnSearchClick(value);}, params:'PageSize=12&OrderType=REGDESC'});"
    driver.execute_script(script)
    print('페이지 이동 성공(page={})'.format(page))
    time.sleep(1.7)   ## 휴식시간 ##
    
    # 지점 : div.info_thumb -> p.branch의 text
    # 가격 : div.info_thumb -> span의 text
    # 상세정보주소 : div.info_thumb -> p.name -> a의 href
    # 차이름 : div.info_thumb -> p.name -> a의 text
    # 요약리스트 : div.info_thumb -> div.summary.list -> dl 전체 뽑고, for 돌려서 dt/dd
    driver.find_element_by_id('btnThumb').click()
    화면별_자동차목록 = driver.find_element_by_id('ListType').find_element_by_tag_name('ul').find_elements_by_tag_name('li')

    # 정보 추출하기
    for 자동차 in 화면별_자동차목록:
        지점 = 자동차.find_element_by_css_selector('div.info_thumb > p.branch').text
        가격 = 자동차.find_element_by_css_selector('div.info_thumb > span').text
        상세정보주소 = 자동차.find_element_by_css_selector('div.info_thumb > p.name > a').get_attribute('href')
        모델명 = 자동차.find_element_by_css_selector('div.info_thumb > p.name > a').text
        속성리스트 = 자동차.find_element_by_css_selector('div.info_thumb > div.summary.list').find_elements_by_tag_name('dl')
        속성_dict = {}
        for 속성 in 속성리스트:
            속성키 = 속성.find_element_by_tag_name('dt').text
            속성값 = 속성.find_element_by_tag_name('dd').text
            속성_dict[속성키] = 속성값

        # 정보 집어넣기
        정보_dict = {}
        정보_dict['페이지'] = page
        정보_dict['지점'] = 지점
        정보_dict['가격'] = 가격
        정보_dict['상세정보주소'] = 상세정보주소
        정보_dict['모델명'] = 모델명
        정보_dict['속성'] = 속성_dict

        # 데이터에 append
        데이터.append(정보_dict)
    print('데이터 수집 성공(page={})'.format(page))

페이지 이동 성공(page=1)
데이터 수집 성공(page=1)
페이지 이동 성공(page=2)
데이터 수집 성공(page=2)
페이지 이동 성공(page=3)
데이터 수집 성공(page=3)
페이지 이동 성공(page=4)
데이터 수집 성공(page=4)
페이지 이동 성공(page=5)
데이터 수집 성공(page=5)
페이지 이동 성공(page=6)
데이터 수집 성공(page=6)
페이지 이동 성공(page=7)
데이터 수집 성공(page=7)
페이지 이동 성공(page=8)
데이터 수집 성공(page=8)
페이지 이동 성공(page=9)
데이터 수집 성공(page=9)
페이지 이동 성공(page=10)
데이터 수집 성공(page=10)
페이지 이동 성공(page=11)
데이터 수집 성공(page=11)
페이지 이동 성공(page=12)
데이터 수집 성공(page=12)
페이지 이동 성공(page=13)
데이터 수집 성공(page=13)
페이지 이동 성공(page=14)
데이터 수집 성공(page=14)
페이지 이동 성공(page=15)
데이터 수집 성공(page=15)
페이지 이동 성공(page=16)
데이터 수집 성공(page=16)
페이지 이동 성공(page=17)
데이터 수집 성공(page=17)
페이지 이동 성공(page=18)
데이터 수집 성공(page=18)
페이지 이동 성공(page=19)
데이터 수집 성공(page=19)
페이지 이동 성공(page=20)
데이터 수집 성공(page=20)
페이지 이동 성공(page=21)
데이터 수집 성공(page=21)
페이지 이동 성공(page=22)
데이터 수집 성공(page=22)
페이지 이동 성공(page=23)
데이터 수집 성공(page=23)
페이지 이동 성공(page=24)
데이터 수집 성공(page=24)
페이지 이동 성공(page=25)
데이터 수집 성공(page=25)
페이지 이동 성공(page=26)
데이터 수집 성공(page=26)
페이지 이동 성공(page=27)
데이터 수집 성공(page=27)
페이지 이동 성공(page=28)
데이터 수집 성공(page=28)
페이지 이동 성공(page=29)
데이터 수집 성공(page=29)
페이지 이동 성공(page=30)
데이터 수집 성공(page=30)
페이지 이동 성공(page=31)
데이터 수집 성공(page=31)
페이지 이동 성공(page=32)
데이터 수집 성공(page=32)
페이지 이동 성공(page=33)
데이터 수집 성공(page=33)
페이지 이동 성공(page=34)
데이터 수집 성공(page=34)
페이지 이동 성공(page=35)
데이터 수집 성공(page=35)
페이지 이동 성공(page=36)
데이터 수집 성공(page=36)
페이지 이동 성공(page=37)
데이터 수집 성공(page=37)
페이지 이동 성공(page=38)
데이터 수집 성공(page=38)

In [25]:
import pickle
with open('ucar_data_190428.txt', 'wb') as f:
    pickle.dump(데이터, f)

In [50]:
res = []
for data in 데이터:
    res.append([data['지점'], data['가격'], data['모델명'], data['속성']['차량번호'], data['속성']['연식'], data['속성']['주행거리'], data['속성']['변속기'], data['속성']['연료'], data['속성']['사고이력'], data['상세정보주소']])
로우데이터 = pd.DataFrame(res, columns=['지점', '가격', '모델명', '차량번호', '연식', '주행거리', '변속기', '연료', '사고이력', '상세정보주소'])

In [90]:
from urllib.parse import urlparse, parse_qs

In [55]:
로우데이터.head()

,지점,가격,모델명,차량번호,연식,주행거리,변속기,연료,사고이력,상세정보주소
0,[상봉지점],￦860만원,현대 싼타페 CM 더 스타일 2WD(R2.0 e-VGT) MLX,35가7533,09년12월(10년형)년식,"131,888km",오토,디젤,무사고,http://ucar.co.kr/html/all_vehicles/view.asp?C...
1,[상봉지점],￦380만원,쌍용 뉴 체어맨 CM500S,10머1813,07년12월(08년형)년식,"142,543km",오토,가솔린,단순교환,http://ucar.co.kr/html/all_vehicles/view.asp?C...
2,[상봉지점],"￦1,290만원",현대 투싼 ix 디젤 2WD LX20,64거6678,13년07월년식,"81,807km",오토,디젤,무사고,http://ucar.co.kr/html/all_vehicles/view.asp?C...
3,[대구지점],"￦1,590만원",기아 봉고3 1톤 초장축 더블캡 CRDi 노블레스,96누0882,18년03월년식,"23,412km",오토,디젤,단순교환,http://ucar.co.kr/html/all_vehicles/view.asp?C...
4,[상봉지점],"￦1,430만원",현대 포터 2 초장축 더블캡 CRDi 하이슈퍼,83머6330,16년11월(17년형)년식,"40,559km",오토,디젤,무사고,http://ucar.co.kr/html/all_vehicles/view.asp?C...

In [52]:
로우데이터.지점.unique()

array(['[상봉지점]', '[대구지점]', '[인천지점]', '[대전지점]', '[전주지점]', '[수원지점]',
       '[용인지점]', '[원주지점]', '[천안지점]'], dtype=object)

In [60]:
로우데이터.변속기.unique()

array(['오토', '수동', 'CVT'], dtype=object)

In [61]:
로우데이터.연료.unique()

array(['디젤', '가솔린', 'LPG', '기타', '하이브리드(G)'], dtype=object)

In [62]:
로우데이터.사고이력.unique()

array(['무사고', '단순교환', '사고'], dtype=object)

In [104]:
로우데이터.연식.unique()

array(['09년12월(10년형)년식', '07년12월(08년형)년식', '13년07월년식', '18년03월년식',
       '16년11월(17년형)년식', '15년03월년식', '17년11월(18년형)년식', '16년02월년식',
       '13년03월년식', '15년02월년식', '13년04월년식', '15년11월년식', '15년05월년식',
       '18년07월(19년형)년식', '08년05월년식', '14년09월년식', '13년10월(14년형)년식',
       '14년03월년식', '14년06월(15년형)년식', '16년04월년식', '15년07월년식', '11년11월년식',
       '16년10월(17년형)년식', '16년07월년식', '16년11월년식', '16년04월(17년형)년식',
       '14년02월년식', '16년09월(17년형)년식', '16년03월년식', '17년12월년식', '09년09월년식',
       '14년06월년식', '14년09월(15년형)년식', '15년03월(16년형)년식', '13년09월(14년형)년식',
       '11년05월년식', '12년12월년식', '11년10월년식', '16년08월(17년형)년식', '15년12월년식',
       '17년02월년식', '10년03월년식', '12년01월(13년형)년식', '17년04월년식', '12년05월년식',
       '11년07월(12년형)년식', '15년12월(16년형)년식', '08년02월년식', '14년12월년식',
       '15년04월년식', '10년12월(11년형)년식', '10년04월년식', '14년05월년식',
       '15년05월(16년형)년식', '16년01월년식', '18년09월(19년형)년식', '16년12월(17년형)년식',
       '09년05월(10년형)년식', '13년06월(14년형)년식', '15년09월년식', '16년06월년식',
       '15년09월(16년형)년식', '17년01월년식', '15년10월(16년형)년식', '11년07월년식',
       '14년10월(15년형)년식', '11년06월(12년형)년식', '15년08월년식', '11년11월(12년형)년식',
       '11년08월년식', '07년03월년식', '17년05월(18년형)년식', '12년03월년식',
       '12년02월(13년형)년식', '15년01월년식', '17년05월년식', '16년05월년식', '13년02월년식',
       '17년12월(18년형)년식', '12년07월년식', '16년05월(15년형)년식', '11년03월년식',
       '16년05월(17년형)년식', '10년01월년식', '09년08월년식', '14년12월(15년형)년식',
       '09년11월(10년형)년식', '18년05월년식', '12년10월(13년형)년식', '15년08월(16년형)년식',
       '10년06월(11년형)년식', '18년01월년식', '06년10월년식', '10년10월년식', '12년04월년식',
       '14년04월년식', '10년09월(11년형)년식', '17년03월년식', '17년10월년식',
       '08년09월(09년형)년식', '14년08월(15년형)년식', '13년10월년식', '12년09월년식',
       '17년09월(18년형)년식', '17년07월년식', '15년06월년식', '15년11월(16년형)년식',
       '16년09월년식', '11년06월년식', '16년10월년식', '14년01월년식', '13년12월(14년형)년식',
       '07년04월년식', '10년07월(11년형)년식', '18년11월(19년형)년식', '09년10월(10년형)년식',
       '09년07월년식', '12년06월년식', '18년08월년식', '12년12월(13년형)년식',
       '15년04월(16년형)년식', '12년08월년식', '08년04월년식', '13년05월년식', '09년12월년식',
       '13년01월(12년형)년식', '16년12월년식', '17년07월(18년형)년식', '17년10월(18년형)년식',
       '18년04월(19년형)년식', '11년09월년식', '10년09월년식', '01년01월년식',
       '11년12월(12년형)년식', '10년11월(11년형)년식', '12년11월년식', '15년07월(16년형)년식',
       '13년12월년식', '14년11월년식', '05년06월년식', '12년01월년식', '16년06월(17년형)년식',
       '11년04월년식', '17년09월년식', '18년02월년식', '15년10월년식', '07년01월년식',
       '16년08월년식', '18년02월(19년형)년식'], dtype=object)

In [109]:
가공데이터 = 로우데이터.copy()
가공데이터['지점'] = 가공데이터['지점'].str.slice(1, 5)
가공데이터['가격'] = 가공데이터['가격'].str.replace('\￦', '').str.replace('만원', '').str.replace(',', '').astype(float)
가공데이터['주행거리'] = 가공데이터['주행거리'].str.replace('km', '').str.replace(',', '').astype(float)
가공데이터['연식'] = ('20' + 가공데이터['연식'].str.slice(0, 2)).astype(int)
가공데이터['CarID'] = 가공데이터['상세정보주소'].apply(lambda x: parse_qs(urlparse(x).query)['CarID'][0])
가공데이터['CarGbnCode'] = 가공데이터['상세정보주소'].apply(lambda x: parse_qs(urlparse(x).query)['CarGbnCode'][0])
가공데이터 = 가공데이터.drop('상세정보주소', axis=1)
가공데이터.head()

,지점,가격,모델명,차량번호,연식,주행거리,변속기,연료,사고이력,CarID,CarGbnCode
0,상봉지점,860.0,현대 싼타페 CM 더 스타일 2WD(R2.0 e-VGT) MLX,35가7533,2009,131888.0,오토,디젤,무사고,96997,002008
1,상봉지점,380.0,쌍용 뉴 체어맨 CM500S,10머1813,2007,142543.0,오토,가솔린,단순교환,96990,002005
2,상봉지점,1290.0,현대 투싼 ix 디젤 2WD LX20,64거6678,2013,81807.0,오토,디젤,무사고,96943,002008
3,대구지점,1590.0,기아 봉고3 1톤 초장축 더블캡 CRDi 노블레스,96누0882,2018,23412.0,오토,디젤,단순교환,96927,002011
4,상봉지점,1430.0,현대 포터 2 초장축 더블캡 CRDi 하이슈퍼,83머6330,2016,40559.0,오토,디젤,무사고,96924,002011

In [110]:
writer = pd.ExcelWriter('data.xlsx', 'xlsxwriter')
가공데이터.to_excel(writer, index=False)
writer.save()
writer.close()