In [1]:
import sqlite3

In [4]:
db = sqlite3.connect('test.db')
cursor = db.cursor()

In [7]:
datas = [(1,"cheetah"),(2,"puma"),(3,"leopard")]

In [8]:
cursor.execute("create table animal(no, name)")

In [9]:
cursor.executemany("insert into animal values (?,?)", datas)

In [16]:
cursor.execute("select * from animal")
for row in cursor:
    print(row[1])

cheetah
puma
leopard

In [17]:
cursor.execute("update animal set name='jaguar' where no=3")

In [18]:
cursor.execute("select * from animal")
print(cursor.fetchall())

[(1, 'cheetah'), (2, 'puma'), (3, 'jaguar')]

In [23]:
cursor.execute("select * from animal where no=1")
row = cursor.fetchone()
print(row[1])

cheetah

In [24]:
cursor.close()

In [26]:
db.commit()
db.close()