In [85]:
import sqlite3
import os

In [35]:
conn = sqlite3.connect('dart.db')
cursor = conn.cursor()

In [110]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS 재무정보(
        재무제표종류 text,
        종목코드 text,
        회사명 text,
        시장구분 text,
        업종 text,
        업종명 text,
        결산월 text,
        결산기준일 text,
        보고서종류 text,
        통화 text,
        항목코드 text,
        항목명 text,
        값 text
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS 종목(
        종목코드 text,
        회사명 text
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS 업종(
        업종 text PRIMARY KEY,
        업종명 text
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS 항목(
        항목코드 text,
        항목명 text
    )
''')

In [111]:
files = os.listdir('data')
for file in files:
    with open('data/{}'.format(file), 'r') as f:
        data = [line.split('\t')[:13] for line in f.readlines()[1:]]
        cursor.executemany('INSERT INTO 재무정보 VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?)', data)
conn.commit()

In [151]:
cursor.execute('SELECT DISTINCT 종목코드, 회사명 FROM 재무정보')
data = cursor.fetchall()
cursor.executemany('INSERT INTO 종목 VALUES (?,?)', data)

cursor.execute('SELECT DISTINCT 업종, 업종명 FROM 재무정보')
data = cursor.fetchall()
cursor.executemany('INSERT INTO 업종 VALUES (?,?)', data)

cursor.execute('SELECT DISTINCT 항목코드, 항목명 FROM 재무정보')
data = cursor.fetchall()
cursor.executemany('INSERT INTO 항목 VALUES (?,?)', data)

conn.commit()

In [179]:
cursor.execute('SELECT * FROM 재무정보 WHERE 종목코드="[012030]" AND SUBSTR(재무제표종류,1,5)="재무상태표"')
data = cursor.fetchall()